@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&subset=latin-ext");
* {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif; }

.btn-themed {
  display: inline-block;
  margin: 20px 0;
  border: none;
  background-color: #1abc9c;
  border-radius: 4px;
  padding: 15px 30px;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 3px;
  transition: .5s; }
  .btn-themed:hover {
    border-radius: 25px;
    background-color: #16a085; }

h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #1abc9c;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px; }

p {
  font-size: 14px;
  line-height: 26px; }

.hero-scene {
  width: 100%;
  min-height: 100vh;
  background-color: #373737;
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-position: center bottom; }

.menu {
  height: 140px; }
  .menu a {
    margin: 20px 20px 0;
    color: #fff !important;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    transition: .5s; }
    .menu a:hover {
      color: #1abc9c !important; }
  .menu .nav-logo {
    margin-top: -20px; }

.cta-text {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 52px);
  width: 100%;
  text-align: center; }
  .cta-text h1 {
    color: #fff;
    font-size: 38px;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 700; }
  .cta-text p {
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 4px; }

.social {
  text-align: center; }
  .social i {
    margin: 0 9px 26px;
    color: #fff;
    font-size: 26px;
    transition: .5s; }
    .social i:hover {
      color: #1abc9c; }

.promo-block-left {
  width: 100%;
  background-color: #f5f6f7; }
  .promo-block-left .container {
    background: url(../img/hand-phone.jpg);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 60%;
    padding-top: 90px;
    min-height: 493px; }
  .promo-block-left .promo-left {
    margin: 0 90px 50px 0; }
  .promo-block-left h3 {
    padding-top: 18px;
    padding-bottom: 28px; }
  .promo-block-left p {
    padding-bottom: 7px; }

.promo-block-design {
  padding-top: 90px; }
  .promo-block-design h3 {
    padding-top: 18px;
    padding-bottom: 28px; }
  .promo-block-design p {
    padding-bottom: 7px; }

.carousel {
  margin-bottom: 0; }

.design-nav {
  font-size: 10px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: .5s; }
  .design-nav a {
    font-size: 22px;
    margin-right: 10px;
    color: #373737;
    text-decoration: none; }
    .design-nav a:hover {
      color: #1abc9c; }

.community {
  width: 100%;
  background-color: #f5f6f7;
  padding: 90px;
  text-align: center; }
  .community .logo-green {
    padding: 65px 0 30px 0; }
  .community h3 {
    color: #373737; }
  .community p {
    font-size: 12px;
    padding: 0 40px 40px;
    line-height: 18px; }
  .community .community-slide {
    padding-right: 16px; }

.community-slider {
  font-size: 10px;
  font-weight: 700;
  transition: .5s;
  text-align: right; }
  .community-slider a {
    font-size: 22px;
    margin-right: 10px;
    color: #373737;
    text-decoration: none; }
    .community-slider a:hover {
      color: #1abc9c; }

@media (min-width: 768px) and (max-width: 992px) {
  li.nav-logo {
    display: none; }

  .promo-left {
    margin: 0 0 50px 20px; } }
@media (max-width: 767px) {
  li.nav-logo {
    display: none; }

  .promo-left {
    margin: 0 0 50px 20px; }

  .promo-block-left .container {
    background: none; }

  .community-slide {
    padding-bottom: 20px; } }

/*# sourceMappingURL=style.css.map */
