@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&subset=latin-ext');

$font: 'Quicksand', sans-serif;
$primary: #16a085;
$secondary: #1abc9c;
$text-dark: #373737;
$text-light: #fff;
$bg-light: #f5f6f7;

* {
	box-sizing: border-box;
	font-family: $font;
}

.btn-themed {
	display: inline-block;
	margin: 20px 0;
	border: none;
	background-color: $secondary;
	border-radius: 4px;
	padding: 15px 30px;
	color: $text-light;
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
	cursor: pointer;
	text-decoration: none;
	letter-spacing: 3px;
	transition: .5s;
	&:hover {
		border-radius: 25px;
		background-color: $primary;
	}
	
}

h3 {
	text-transform: uppercase;
	letter-spacing: 1px;
	color: $secondary;
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
}

p {
	font-size: 14px;
	line-height: 26px;
}

.hero-scene {
	width: 100%;
	min-height: 100vh;
	background-color: $text-dark;
	background-image: url("../img/hero.jpg");
	background-size: cover;
	background-position: center bottom;
}

.menu {
	height: 140px;
	a {
		margin: 20px 20px 0;
		color: $text-light !important;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 2px;
		transition: .5s;
		&:hover {
			color: $secondary !important;
		}
	}
	.nav-logo {
		margin-top: -20px;
	}
}

.cta-text {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: calc(100vh - 52px);
	width: 100%;
	text-align: center;
	h1 {
		color: $text-light;
		font-size: 38px;
		text-transform: uppercase;
		letter-spacing: 6px;
		font-weight: 700;
	}
	p {
		color: $text-light;
		font-size: 18px;
		line-height: 30px;
		letter-spacing: 4px;
	}

}

.social {
	text-align: center;
	i {
		margin: 0 9px 26px;
		color: $text-light;
		font-size: 26px;
		transition: .5s;
		&:hover {
			color: $secondary;
		}
	}
}

.promo-block-left {
	width: 100%;
	background-color: $bg-light;
	.container {
		background: url(../img/hand-phone.jpg);
		background-position: right bottom;
		background-repeat: no-repeat;
		background-size: 60%;
		padding-top: 90px;
		min-height: 493px;
	}
	.promo-left {
		margin: 0 90px 50px 0;
	}
	h3 {
		padding-top: 18px;
		padding-bottom: 28px;
	}
	p {
		padding-bottom: 7px;
	}
}

.promo-block-design {
	padding-top: 90px;
	h3 {
		padding-top: 18px;
		padding-bottom: 28px;
	}
	p {
		padding-bottom: 7px;
	}
}

.carousel {
	margin-bottom: 0;
}

.design-nav {
		font-size: 10px;
		font-weight: 700;
		margin-top: 20px;
		margin-bottom: 20px;
		transition: .5s;
		a {
			font-size: 22px;
			margin-right: 10px;
			color: $text-dark;
			text-decoration: none;
			&:hover {
				color: $secondary;
			}
		}
}

.community {
	width: 100%;
	background-color: $bg-light;
	padding: 90px;
	text-align: center;
	.logo-green {
		padding: 65px 0 30px 0;
	}
	h3 {
		color: $text-dark;
	}
	p {
		font-size: 12px;
		padding: 0 40px 40px;
		line-height: 18px;
	}
	.community-slide {
		padding-right: 16px;
	}
}

.community-slider {
	font-size: 10px;
	font-weight: 700;
	transition: .5s;
	text-align: right;
	a {
		font-size: 22px;
		margin-right: 10px;
		color: $text-dark;
		text-decoration: none;
		&:hover {
			color: $secondary;
		}
	}
}

@media(min-width: 768px) and (max-width: 992px) {
	li.nav-logo {
		display: none;
	}

	.promo-left {
		margin: 0 0 50px 20px;
	}

}

@media(max-width: 767px) {
	li.nav-logo {
		display: none;
	}

	.promo-left {
		margin: 0 0 50px 20px;
	}

	.promo-block-left {
		.container {
			background: none;
		}
	}

	.community-slide {
		padding-bottom: 20px;
	}

}